@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-bg-primary">Create NEW</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Enter Name"/>
        </div>
        <div class="mb-3">
            <label>Display Order</label>
            <input type="text" class="form-control" placeholder="Enter Display Order" />
        </div>
      
        <div class="row pt-4 pb-3">
            <div class="col-6">
                <button type="submit" class="btn btn-outline-dark" style="width:150px">Submit</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="Index" class="btn btn-primary" style="width:150px">LET'S GO BACK</a>
            </div>
        </div>
    </div>
</form>